$bg-light: #fff;
$bg-dark: #292a2d;
$arrow-size: 4px;
$themes: $bg-light, $bg-dark;
$directions: up, down, left, right;

@each $direction in $directions {
  @each $theme in $themes {
    .arrow-#{$direction} {
      @include triangle($direction, $arrow-size, $theme);
    }
  }
}

.popover-dark {
  color: #fff;
  background-color: $bg-dark;
}
