body {
  color: var(--text-color);
  background: var(--bkg-color);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--bkg-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--bkg-scrollbar-thumb);

  &:hover {
    background: var(--bkg-scrollbar-thumb-hover);
  }
}

.page__root {
  min-height: 100vh;
}

.scrollbar-visible-on-hover {
  transition: background-color 0.8s;

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &:hover {
    &::-webkit-scrollbar-track {
      background-color: var(--bkg-scrollbar-track);
      transition: background-color 0.8s;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--bkg-scrollbar-thumb);
      transition: background-color 0.8s;
    }
  }
}
