@import './mixins';

$types: primary, secondary;

:root {
  --wd-color-primary: hsl(38.82deg 30% 50%);
  --wd-color-secondary: '';
  --wd-color-surface: '';
  --wd-color-accent: '';
  --wd-color-brand: '';

  @include define-hls(--wd-color-background, 0deg, 0%, 7%);
  @include define-hls(--wd-color-surface, 0deg, 0%, 100%);
}

html {
  --text-color: #222;
  --bkg-color: #fff;
}

html.js-dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
  --bkg-section: #252729;
  --bkg-section-o9: rgba(37 39 41 90%);
  --bkg-scrollbar-track: transparent;
  --bkg-scrollbar-thumb: #373c47;
  --bkg-scrollbar-thumb-hover: #414855;
}
