<template>
  <li class="bar-item__wrapper flex-center flex-column">
    <v-icon :icon="data.icon" class="bar-item__icon"></v-icon>
    <span>{{ data.name }}</span>
  </li>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'SideBarCommon',

  props: {
    data: {
      type: Object,
      default: () => ({})
    }
  }
});
</script>
<style lang="scss" scoped>
.bar-item__icon {
  margin-bottom: 4px;
  color: #575757;
  font-size: 32px;
}

.bar-item__wrapper {
  padding: 12px 7px;
  color: #666;
  cursor: pointer;

  &:hover {
    color: $color-main;

    .bar-item__icon {
      color: $color-main;
    }
  }
}

.bar-item__wrapper:not(:last-child) {
  border-bottom: 1px solid #e3e3e3;
}
</style>
