<template>
  <ul v-drag class="side-bar__wrapper flex flex-col">
    <template v-for="(item, index) of displayDataList">
      <slot :name="item!.slot || item!.name">
        <common-template
          :key="index"
          :data="item"
          @click="handleClick(item)"
        ></common-template>
      </slot>
    </template>
  </ul>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from 'vue';

import CommonTemplate from '@web/components/biz/d3/hierarchy/components/side-bar-template.vue';

import useFullScreen from '@web/composables/useFullScreen';

import Drag from '@web/directives/drag-move';

import $emitter from '@web/plugins/emit';

import {
  SIDE_BAR_CONFIG,
  SIDE_BAR_TYPE
} from '@web/components/biz/d3/hierarchy/const/common';

const configList = SIDE_BAR_CONFIG.map((item) => ({ ...item }));

const { refresh, fullscreen, download, exitFullscreen } = SIDE_BAR_TYPE;
const defaultDisplayList = [refresh, fullscreen, download].map(
  (item) => item.id
);

export default defineComponent({
  name: 'DiagramSideBar',

  components: {
    CommonTemplate
  },

  directives: {
    Drag
  },

  props: {
    visibleList: {
      type: Array,
      default: () => defaultDisplayList
    }
  },

  setup(props) {
    const { isFullScreenMode } = useFullScreen();
    const dataList = ref(configList);
    // const $route= useRoute()
    const { visibleList } = props;

    const displayDataList = computed(() => {
      // 火狐sort倒序处理
      const displayList = dataList.value
        .filter((item) => visibleList.includes(item.id))
        .sort((a, b) => a.id - b.id);

      return displayList.map((item) => {
        if (!isFullScreenMode.value && item.id === exitFullscreen.id)
          return configList.find((item) => item.id === fullscreen.id);
        if (isFullScreenMode.value && item.id === fullscreen.id)
          return configList.find((item) => item.id === exitFullscreen.id);
        return item;
      });
    });

    function handleClick(item) {
      const { evtName, data } = item;
      $emitter.$emit(evtName, data);
    }

    return {
      displayDataList,
      handleClick
    };
  }
});
</script>
<style lang="scss" scoped>
.side-bar__wrapper {
  z-index: 1;
  display: inline-flex;
  padding: 8px 12px;
  user-select: none;
}
</style>
