<template>
  <div v-if="visible" class="zoom-tip__wrapper">
    <span class="zoom-tip__text">{{ displayText }}</span>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, ref, toRef, watch } from 'vue';

export default defineComponent({
  name: 'ZoomTip',

  props: {
    data: {
      type: Number,
      default: 0
    }
  },

  setup(props) {
    let displayTimer;
    const visible = ref(false);
    const dataRef = toRef(props, 'data');
    watch(dataRef, () => {
      if (displayTimer) clearTimeout(displayTimer);

      visible.value = true;
      // 缩放弹窗显示时要关闭公司信息弹窗;
      displayTimer = setTimeout(() => {
        visible.value = false;
      }, 1000);
    });

    const displayText = computed(() => {
      return `${Math.ceil(dataRef.value * 100)}%`;
    });
    return {
      visible,
      displayText
    };
  }
});
</script>
<style lang="scss" scoped>
.zoom-tip__wrapper {
  position: absolute;
  bottom: 56px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 22px;
  color: #fff;
  font-size: 18px;
  background: rgba($color: #000, $alpha: 50%);
  border-radius: 8px;
  transform: translateX(-50%);
}
</style>
