<template>
  <Popover trigger="click" className="z-10" :class="{ hidden: !visible }">
    <template #reference>
      <button>Theme</button>
    </template>
    <div class="px-2 py-1">
      <button>
        <span v-if="isDark" @click="handleSetTheme(THEME_TYPE.light)"
          >Dark</span
        >
        <span v-else @click="handleSetTheme(THEME_TYPE.dark)">Light</span>
      </button>
    </div>
  </Popover>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';

import Popover from '@web/components/base/popover';

import useUserStore from '@web/store/user';
import useThemeConfig from '@web/composables/useThemeConfig';

import { THEME_TYPE } from '@web/const/common';

import { bool } from 'vue-types';

export default defineComponent({
  name: 'ThemeSwitcher',

  components: {
    Popover
  },

  props: {
    visible: bool().def(true)
  },

  setup() {
    const userStore = useUserStore();
    const { setupThemeConfig } = useThemeConfig();

    if (!EASY_ENV_IS_NODE) setupThemeConfig();

    const isDark = computed(() => {
      return userStore.config.theme === THEME_TYPE.dark;
    });

    function handleSetTheme(val: THEME_TYPE) {
      userStore.setTheme(val);
    }

    return {
      THEME_TYPE,
      isDark,
      handleSetTheme
    };
  }
});
</script>
