.side-bar__wrapper {
  position: absolute;
  top: 50%;
  right: 24px;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  box-shadow: 0 6px 12px 0 rgb(133 133 133 / 24%);
  transform: translateY(-50%);
}
