<template>
  <div class="graphql-client__wrapper">
    <button @click="handleClick">Query</button>
    <button class="ml-2" @click="handleMutation">Mutation</button>
  </div>
</template>

<script lang="ts" setup>
import { createClient } from '@web/plugins/apollo-client';
import { execGraphqlQuery } from '@web/service/biz/home';
import { onMounted } from 'vue';
import { gql } from '@apollo/client';

const subscription = ref();

onMounted(() => {
  setupApolloClient();
});

onUnmounted(() => {
  // closed, unsubscribe
  if (subscription.value.closed) subscription.value.closed();
});

function setupApolloClient() {
  const client = createClient({ uri: '/graphql' });
  subscription.value = client
    .subscribe({
      query: gql`
        subscription {
          getHeartBeat
        }
      `
    })
    .subscribe({
      next(data) {
        console.log('subscribe data=========================>', data);
      },
      error(error) {
        console.log('subscribe error=========================>', error);
      }
    });

  client
    .query({
      query: gql`
        query {
          userId
          hello
        }
      `
    })
    .then((res) => {
      console.log('apollo client query=========================>', res);
    });
}

async function handleClick() {
  const result = await execGraphqlQuery({
    query: `query CustomQuery($startDate: Timestamp!, $endDate: Timestamp) {
        queryHistory(startDate: $startDate, endDate: $endDate) {
          version,
          reset,
          subQueryList {
            queryString
          }
        },
        hello
      }`,
    variables: {
      startDate: Date.now(),
      endDate: Date.now() + 24 * 60 * 60 * 1000
    }
  });

  console.log('result=========================>', result);
}

async function handleMutation() {
  const result = await execGraphqlQuery({
    query: `mutation CustomMutation($subQuery: SubQueryInput) {
      updateQueryString(subQuery: $subQuery) {
        version,
        queryString
      }
    }`,
    variables: {
      subQuery: {
        version: 'version-v1'
      }
    }
  });

  console.log('result=========================>', result);
}
</script>
