<template>
  <div class="page-nav__bottom">
    <v-icon
      v-for="(config, index) of configList"
      :key="index"
      :icon="config.icon"
      class="my-3 text-[20px]"
    ></v-icon>
  </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
const configList = ref([{ icon: 'icon-setting' }]);
</script>
