<template>
  <div>
    <button class="mr-2" @click="handleSubscribe">subscribe</button>
    <button @click="handleUnSubscribe">unsubscribe</button>
  </div>
</template>

<script setup lang="ts">
import { urlB64ToUint8Array } from '@root/shared/utils/string';
// public: BIoIcwBfZ0ldh0MmZJpCIBcRA0MjRk4vGKIVEYw5PggwqeBf7rNXKp5OojGeMOztdKUSXJKPZw1hYw0d9c5RzRs
// private: t4bevFsqoPfZHF0MskcOvigiTMVqGg0BybEqr4iUwxo
async function handleSubscribe() {
  console.log('====================');
  const result = await Notification.requestPermission();
  if (result === 'denied') {
    console.log('permission denied====================');
    return;
  }
  const registration = await navigator.serviceWorker.getRegistration();
  const subscribed = await registration?.pushManager.getSubscription();

  if (subscribed) {
    console.log('already subscribed====================');
    return;
  }

  const subscription = await registration?.pushManager.subscribe({
    userVisibleOnly: true,
    applicationServerKey: urlB64ToUint8Array(
      'BIoIcwBfZ0ldh0MmZJpCIBcRA0MjRk4vGKIVEYw5PggwqeBf7rNXKp5OojGeMOztdKUSXJKPZw1hYw0d9c5RzRs'
    )
  });

  localStorage.setItem('push-subscription', JSON.stringify(subscription));
}
async function handleUnSubscribe() {
  console.log('====================');
  const registration = await navigator.serviceWorker.getRegistration();
  const subscription = await registration?.pushManager.getSubscription();
  const unsubscribed = await subscription?.unsubscribe();
  if (unsubscribed) {
    console.log('unsubscribe successfully !====================');
  }
}
</script>
