<template>
  <Virtualize
    class="virtual-content__wrapper scrollbar-visible-on-hover"
    :dataList="dataList"
    :getItemPosition="getItemPosition"
  >
    <template #default="{ data }">
      <div class="virtual-list__item">{{ data.content }}</div>
    </template>
  </Virtualize>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Virtualize from '@web/components/base/virtualized';

export default defineComponent({
  name: 'HomeVirtualList',

  components: {
    Virtualize
  },

  setup() {
    let id = 0;
    const dataList = getDatalist();
    const position = calPosition(dataList);

    function getItemPosition(data) {
      return position[data.id];
    }

    function getDatalist() {
      const count = 100000;
      return Array(count)
        .fill(0)
        .map((...args) => ({
          id: id++,
          content: args[1]
        }));
    }

    function calPosition(dataList) {
      const position = {};
      let left = 0,
        top = 0;
      for (const data of dataList) {
        const { id } = data;
        position[id] = {
          top,
          left,
          height: 32,
          width: '100%'
        };
        left = 0;
        top += 32;
      }
      return position;
    }

    return {
      dataList,
      getItemPosition
    };
  }
});
</script>

<style lang="scss" scoped>
.virtual-content__wrapper {
  height: 100%;
  overflow-y: auto;
}

.virtual-list__item {
  height: 32px;
  color: var(--wd-color-surface);
  line-height: 32px;
}
</style>
