<template>
  <div
    class="absolute h-10 w-10 cursor-move bg-white"
    @click="handleClick"
  ></div>
  <div class="page__wrapper">
    <D3Hierarchy v-if="visible" :visible="visible"></D3Hierarchy>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue';

import Message from '@web/components/base/message';

const D3Hierarchy = defineAsyncComponent(
  () => import('@web/components/biz/d3/hierarchy/tree')
);

export default defineComponent({
  name: 'PageContent',

  components: {
    D3Hierarchy
  },

  setup() {
    const visible = ref(false);
    onMounted(() => {
      visible.value = true;
    });
    return {
      name: 'PageContent',
      visible
    };
  },

  methods: {
    handleClick() {
      Message('This is a message');
    }
  }
});
</script>

<style scoped lang="scss">
.page__wrapper {
  height: 100vh;
}
</style>
