<template>
  <main class="page__wrapper">
    <header
      v-drag-resize.bottom="{ max: 75 }"
      class="page__header relative flex align-middle"
    >
      <ThemeSwitcher class="ml-auto mr-2 self-center"></ThemeSwitcher>
    </header>
    <section class="page__body">
      <section v-drag-resize="{ max: 300 }" class="page__aside relative">
        <nav class="page__nav flex flex-col items-center justify-between">
          <div class="page-nav__top"></div>
          <NavBottom></NavBottom>
        </nav>
        <section class="aside__content relative"></section>
      </section>
      <section class="page__content">
        <div><button @click="handleLogout">logout</button></div>
        <!-- <ZButton></ZButton>
        <WebdevButton></WebdevButton> -->
        <PushNotification></PushNotification>
        <GraphqlClient></GraphqlClient>
        <LazyHydrate
          ><div class="flex flex-col justify-end"></div>
        </LazyHydrate>
        <VirtualList class="flex-grow"></VirtualList>
      </section>
    </section>
    <footer
      v-drag-resize.top="{ max: 75 }"
      class="page__footer relative"
    ></footer>

    <FloatBar></FloatBar>
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useRouter } from 'vue-router';
// import { Button as ZButton } from '@nounknow/ui';

import LazyHydrate from '@web/components/base/lazy-hydrate';
import Message from '@web/components/base/message';
import ThemeSwitcher from '@web/components/feature/theme-switcher/index.vue';
import FloatBar from '@web/components/feature/side-float-bar';
import VirtualList from '@web/components/biz/home/virtual-list.vue';
import NavBottom from '@web/components/biz/home/nav-bottom.vue';
import GraphqlClient from '@web/components/biz/home/graphql-client.vue';
import PushNotification from '@web/components/biz/home/push-notification.vue';

import usePerfMeasure from '@web/composables/usePerfMeasure';

import DragResize from '@web/directives/drag-resize';

import { logout } from '@web/service/user';

export default defineComponent({
  name: 'PageHome',

  components: {
    ThemeSwitcher,
    LazyHydrate,
    VirtualList,
    NavBottom,
    GraphqlClient,
    PushNotification,
    FloatBar
    // ZButton
  },

  directives: {
    DragResize
  },

  setup() {
    const router = useRouter();

    if (EASY_ENV_IS_BROWSER) usePerfMeasure({ name: 'Home' });

    const handleClick = () => {
      router.push('/content');
      Message('message');
    };

    async function handleLogout() {
      const { success, data } = await logout();
      if (!success) return;
      router.push(data);
    }

    return {
      handleClick,
      handleLogout
    };
  }
});
</script>

<style lang="scss" scoped>
.page__wrapper {
  display: grid;
  grid-template-rows: minmax(36px, auto) minmax(0, 1fr) minmax(20px, auto);
  height: 100vh;
}

.page__header {
  background-color: var(--bkg-section);
}

.page__body {
  display: grid;
  grid-template-columns: fit-content(348px) 1fr;
}

.page__aside {
  display: grid;
  grid-template-columns: 48px 1fr;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.page__nav {
  background-color: var(--bkg-section-o9);
}

.aside__content {
  background-color: #21252b;
}

.page__footer {
  background-color: #21252b;
}
</style>
