<template>
  <div class="page__root flex items-center justify-center">
    <ThemeSwitcher :visible="false"></ThemeSwitcher>
    <div class="login-form__wrapper flex flex-col items-center rounded-md p-5">
      <div class="">
        <span class="text-[20px] font-bold"> WEBDEV</span>
      </div>
      <div class="local-strategy__wrapper w-[320px]">
        <div class="my-1.5">
          <input
            v-model="formData.username"
            class="login-form__input rounded p-1"
            placeholder="username"
            type="text"
          />
        </div>
        <div class="my-1.5">
          <input
            v-model="formData.password"
            class="login-form__input rounded p-1"
            placeholder="password"
            type="password"
          />
        </div>
        <div class="text-center">
          <button
            class="submit__btn flex items-center justify-center rounded"
            @click="handleSubmit"
          >
            Login
          </button>
        </div>
      </div>

      <div class="third-party-strategy__wrapper mt-10">
        <div class="mb-3 text-center">Other login</div>
        <div class="flex justify-center">
          <div
            v-for="item of authStrategyList"
            :key="item.name"
            class="ml-2"
            @click="handleClick(item)"
          >
            {{ item.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue';

import ThemeSwitcher from '@web/components/feature/theme-switcher/index.vue';

import { login } from '@web/service/user';

type Strategy = {
  name: string;
  url: string;
};

const authStrategyList: Strategy[] = [
  { name: 'Github', url: '/passport/github' },
  { name: 'Yuque', url: '/passport/yuque' }
];

export default defineComponent({
  name: 'PageLogin',

  components: {
    ThemeSwitcher
  },

  setup() {
    const router = useRouter();
    const formData = reactive({ username: '', password: '' });
    function handleClick(params: Strategy) {
      window.location.href = params.url;
    }
    async function handleSubmit() {
      const { success } = await login(formData);
      if (success) router.push('/');
    }
    return {
      formData,
      authStrategyList,
      handleClick,
      handleSubmit
    };
  }
});
</script>

<style lang="scss">
.login-form__wrapper {
  width: 400px;
  background: lighten(--wd-color-background, 1.35);
}

.login-form__input {
  width: 100%;
  height: 42px;
  margin: 8px 0;
  padding-left: 12px;
  color: #000;
  background-color: #fff;
}

.submit__btn {
  width: 100%;
  height: 42px;
  margin-top: 20px;
  background: var(--wd-color-primary);
}
</style>
