<template>
  <router-view></router-view>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { storeToRefs } from 'pinia';

import useMainStore from '@web/store/main';

export default defineComponent({
  name: 'ApplicationComponent',

  setup() {
    const store = useMainStore();
    const { name: storeName } = storeToRefs(store);
    return {
      name: 'Application',
      storeName
    };
  }
});
</script>
